# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/

testenv/
__pycache__/
.coverage
.DS_Store

# pyenv
.python-version

# virtualenv
.venv/
venv/
env/

resources/
static/
logs/